@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

:root {
  --primary-color: #00ff00;
  --secondary-color: #ff0000;
  --bg-color: #008000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Ubuntu";
  font-weight: 500;
}

html {
  background-color: #000;
  font-size: 62.5%;
}

@property --bg-radial {
  syntax: "<percentage>";
  initial-value: 25%;
  inherits: false;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, var(--bg-color) 0%, #000 var(--bg-radial))
    center no-repeat;
  animation: backgroundAnimation 5s infinite alternate ease-in-out;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  aspect-ratio: 1 / 1;
}

#canv {
  background-color: #000;
  border: 1px solid var(--primary-color);
}

.text {
  background-color: var(--primary-color);
  color: #000;
  border: 1px solid #000;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

span {
  font-weight: bold;
  color: var(--secondary-color);
}

.button {
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: #000;
  border: 1px solid var(--primary-color);
  font-size: 1.4rem;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.button:active {
  border: 1px solid #000;
  color: #000;
  background-color: var(--secondary-color);
}

@keyframes backgroundAnimation {
  0% {
    --bg-radial: 25%;
  }
  100% {
    --bg-radial: 50%;
  }
  50% {
    --bg-radial: 70%;
  }
}
